* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lavenderblush;
}

.wrapper {
    background-color: beige;
    width: 100vw;
    height: 100vh;
    padding: 50px;

}

h1 {
    background-color: darkslategray;
    width: 100%;
    height: 50px;
    text-align: center;
}

<<<<<<< HEAD
div h1 {
=======
>>>>>>> featured_js


div form #inputTarea {
    width: 300px;
    height: 40px;
    margin: 10px;
    background-color: burlywood;
}

div form #searchBar {

    cursor: pointer;
    width: 300px;
    height: 40px;
    margin: 10px;
    background-color: aqua;


}

div form #btnGuardar {
    cursor: pointer;
    width: 300px;
    height: 40px;
    margin: 10px;
    background-color: lightblue;

}

#tareaFila article.diaria {
    background-color: lightgreen;
}

#tareaFila article.mensual {
    background-color: palevioletred;
}

#tareaFila article.urgente {
    background-color: red;
}

div form #selectPrioridad {
    width: 300px;
    height: 40px;
    margin: 10px;
    background-color: aqua;
}

div form p {
    width: 100%;
    height: 40px;
    background-color: lightgray;
    text-align: center;
}


div form #inputTareaBuscar {
    width: 300px;
    height: 40px;
    margin: 10px;
    background-color: lightpink;
}

#selectPrioriSearch {
    width: 300px;
    height: 40px;
    margin: 10px;
    background-color: lightcoral;
<<<<<<< HEAD
}

div form #inputIntroTarea {
    width: 300px;
    height: 40px;

    margin: 10px;

}

div form #selectPrioridad {
    width: 300px;
    height: 40px;
    margin: 10px;

}

div form #btnEnviar {
    width: 300px;
    height: 40px;
    margin: 10px;
=======
>>>>>>> featured_js

}

div form #selecPrioridad {
    width: 300px;
    height: 40px;
    margin: 10px;

}

div form #buscarTarea {
    width: 300px;
    height: 40px;
    margin: 10px;

}

div form div p {
    width: 100%;
    height: 75px;
    margin: 10px;
    background-color: lightgrey;

}