* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    background-color: cadetblue;
    text-align: center;
}

div h1 {

    width: 100%;
    background-color: lightcoral;
}

div form #inputIntroTarea {
    width: 300px;
    height: 40px;

    margin: 10px;

}

div form #selectPrioridad {
    width: 300px;
    height: 40px;
    margin: 10px;

}

div form #btnEnviar {
    width: 300px;
    height: 40px;
    margin: 10px;

}

div form #selecPrioridad {
    width: 300px;
    height: 40px;
    margin: 10px;

}

div form #buscarTarea {
    width: 300px;
    height: 40px;
    margin: 10px;

}

div form div p {
    width: 100%;
    height: 75px;
    margin: 10px;
    background-color: lightgrey;

}